body {
  background: hsl(47, 88%, 63%);
}

.card {
  background: white;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 15px;
  box-shadow: 7px 7px 0px 0px black;
  margin: auto;
  padding: 20px 20px 5px 20px;
  width: 80%;
}

.img {
  text-align: center;
}

.view {
    border-radius: 15px;
    width: 100%;
}

.h4-head {
    background: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-family: "MyFont", sans-serif;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    width:fit-content;
}



.p-head {
    color: hsl(0, 1%, 22%);
    font-family: "MyFont", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

h3 {
    font-family: "MyFont2", sans-serif;
    font-weight: bolder;
}

h3:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer
}

.p-body {
    color: hsl(0, 0%, 42%);
    font-family: "MyFont3", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.h4-footer {
    color: rgb(39, 39, 39);
    font-family: "MyFont2", sans-serif;
    font-size: 13px;
    font-weight: 600;
}

@font-face {
    font-family: "MyFont";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyFont2";
    src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyFont3";
    src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 375px) {
    .card {
        width: 70%
    }
}

@media (min-width: 425px) {
    .card {
        width: 60%
    }
}

@media (min-width: 768px) {
    .card {
        width: 33%
    }
}

@media (min-width: 1024px) {
    .card {
        width: 25%
    }
}

@media (min-width: 1440px) {
    .card {
        width: 18%
    }
}